<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SkiaSharp" version="1.55.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SkiaSharp.Views.Forms" version="1.55.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Telerik.UI.for.Xamarin.Chart.Trial" version="2017.3.1103.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Telerik.UI.for.Xamarin.Common.Trial" version="2017.3.1103.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Telerik.UI.for.Xamarin.Primitives.Trial" version="2017.3.1103.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Telerik.UI.for.Xamarin.SkiaSharp.Trial" version="2017.3.1103.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="portable45-net45+win8+wpa81" />
</packages>